$font-family-barlow: 'Barlow', sans-serif;
$font-family-fraunces: 'Fraunces', serif;
$font-weight-thin: 100;
$font-weight-light: 200;
$font-weight-normal: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

$clr-text-primary: #5B636D;
$clr-text-secondary: #A7AAAD;
$clr-text-tertiary: #458D7E;
$clr-text-quaternary: #FFF;
$clr-text-quinary: #24303E;

$clr-bg-light: #FFF;

$clr-btn-highlight: #FBD600;

$clr-footer-bg: #90D4C6;

$desktop: 70rem;
$laptop: 64rem;
$tablet: 50rem;
$phablet: 37.5rem;
$phone: 37.5rem;

$transition-2: all .2s ease-in-out;
$transition-3: all .3s ease-in-out;
$transition-5: all .5s ease-in-out;